<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <link rel="stylesheet" href="../style/style.css">
    <title>Spellbook</title>
  </head>
  <body>
    <h1>All Spells</h1>
    <section id="search">
      <input id="search-input">
    </section>
    <section id="level-filters"></section>
    <section id="class-filters"></section>
    <section id="spell-list"></section>

    <!-- You can also require other files to run in this process -->
    <script src="../scripts/jquery-3.5.1.min.js"></script>
    <script src="../../renderer.js"></script>
    <script src="../scripts/actions.js"></script>
    <script src="../scripts/script.js"></script>
  </body>
</html>
